---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Roboto', sans-serif;
$base-font-size:   16px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111111;
$background-color: #f5f5f5;
$brand-color:      #111111;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;

/* Colors */
$deep-purple-500: #673AB7;
$deep-purple-300: #9575CD;
$deep-purple-100: #D1C4E9;

$blue-500: #2196F3;
$blue-300: #64B5F6;
$blue-100: #BBDEFB;

$blue-grey-500: #607D8B;
$blue-grey-300: #90A4AE;
$blue-grey-100: #CFD8DC;

$orange-500: #FF9800;
$orange-300: #FFB74D;
$orange-100: #FFE0B2;

$green-500: #4CAF50;
$green-300: #81C784;
$green-100: #C8E6C9;

$pink-500: #E91E63;
$pink-300: #F06292;
$pink-100: #F8BBD0;

$red-500: #F44336;
$red-300: #E57373;
$red-100: #FFCDD2;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
