---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in site.categories['blog'] %}
      <li>
          <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
          <header class="post-header">
            <h2 class="post-title" itemprop="name headline">
                <a href="#">{{ post.title }}</a>
            </h2>
            <div class="post-meta">
                <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
                {% if post.tags.size > 0 %}
                <ul class="tag-list">
                  {% for tag in post.tags %}
                  <li class="inline archive-list"><a class="tag-list-link" href="/tag/{{ tag }}">{{ tag }}</a></li>
                  {% endfor %}
                </ul>
                {% endif %}
            </div>
          </header>
          <div class="post-content" itemprop="articleBody">
            {{ post.content }}
          </div>    
        </article>
      </li>
    {% endfor %}
  </ul>
    
  <a href="/archive" class="post-list-more">
      All Posts
      <i class="fa fa-angle-double-right" aria-hidden="true"></i>
  </a>
</div>
