<footer class="footer">
    <div class="copyright">© 2024  <i class="fas fa-heart"></i>  John Spaetzel</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: ['Josefin Sans', 'Noto Sans', 'Roboto Mono', 'Material Icons']
    }
  });
</script>
<script src="https://kit.fontawesome.com/ea17bff308.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W3G88JG6ZH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W3G88JG6ZH');
</script>
<script src="{{ "/js/prism.js" | prepend: site.baseurl }}"></script>
