<div style="padding-right: 15px;
            padding-left: 15px; margin:0;display: inline-block;">
    <div style="width:{{ include.width }}px; padding: 4px;
                margin-bottom: 20px;
                line-height: 1.42857143;
                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: 4px;
                display: block;">
        <img src="{{ include.url }}" />
        <div style="padding: 9px">
            <h3>{{ include.text }}</h3>
        </div>
    </div>
</div>