/**
 * Basic styling
 */
html {
    height: 100%;
}

body {
    font-family: $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    font-size: 1em;
    line-height: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

/**
 * Links
 */
a, a:visited {
    color: lighten($brand-color, 10%);
    text-decoration: none;
    &:visited {
        color: lighten($brand-color, 10%);
    }

    &:hover {
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
        color: lighten($brand-color, 20%);
        text-decoration: none;
    }
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    background: #f7f7f7;
    border-left: 8px solid $green-300;
    margin: $spacing-unit / auto;
    padding: $spacing-unit / 3;
    font-size: 1em;
    font-style: italic;
    line-height: 1.6;
    position: relative;
  }

  blockquote p {
      margin: 0;
  }

  blockquote::after {
    content: '';
  }

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
