/**
 * Image styles
 */
 .quoted-image {
    padding: 4px;
    margin: 20px;
    line-height: 1.4;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align:center;
    display: inline-block;
}
.quoted-image span {
    padding: 9px;
}