/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid $grey-color-light;
  padding: 0px;
  margin-bottom: 10px;
  background: #FFFFFF;
  min-height: 56px;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 5px;
      padding-bottom: 2px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  background: #303030;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.content-wrapper {
  background: #ffffff;
  margin-bottom: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
}

.page-heading {
  font-size: 20px;
}

header {
  padding: 8px 10px;
}

.post-read-more {
  text-align: right;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  padding: 3px 10px;
}

.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Post Lists
 */

.post-list-more {
  text-align: left;
  border-radius: 20px;
  padding: 2px 26px;
  margin: 1.5rem;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.05);
  display: block;

}

.post-list-meta {
  font-size: $small-font-size;
  color: $grey-color;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 10px;
  width: 90px;
  display: inline-block;
}

.post-list {
  margin-left: 0;
  margin-bottom: 0;
  list-style: none none;
  width: 100%;
  > li {
    margin-bottom: 0;
    > article {
      margin-bottom: $spacing-unit;
      margin-top: 0;
      -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.05);
      -o-transition: .5s;
      -ms-transition: .5s;
      -moz-transition: .5s;
      -webkit-transition: .5s;
      transition: .5s;
      > .post-header {
        width: 100%;
        padding: 0px;
        border-radius: 2px 2px 0 0;
        > .post-title {
          padding: 8px;
          margin: 0;
        }
        > .post-meta {
          padding-top: 0;
          padding-bottom: 8px;
          time {
            padding-right: 4px;
          }
        }
        > .post-category-icon i {
          margin: 8px;
          font-size: 20px;
        }
      }
    }
    article:hover {
      -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
    }
  }
}

/**
 * Tags
 */
.tag-list {
  font-size: $small-font-size;
  color: #ffffff;
  list-style: none;
  margin: 0;
  display: inline;
  line-height: 24px;
}

a.tag-list-link, a.tag-list-link:active, a.tag-list-link:visited {
  color: #ffffff;
  background: lighten($grey-color, 20%);
  padding: 2px 7px;
  border-radius: 10px;
}

a.tag-list-link:hover {
  background: darken($grey-color, 20%);
  text-decoration: none;
}

.tag-list-small {
  font-size: 10px;
  color: #ffffff;
  list-style: none;
  display: inline;
  margin: 0;
  > a.tag-list-link {
    padding: 2px 5px;
  }
}

.inline {
  display: inline;
}

/**
 * Posts
 */

.post-title {
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 24px;
  }
}

.post-content {
  padding: 15px;
  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

article {
  a {
    text-decoration: none;
  }
  .post-title {
    > a, a:visited {
      color: #ffffff;
    }

  }
  a.tag-list-link, a.tag-list-link:active, a.tag-list-link:visited {
    color: #ffffff !important;
  }
}

.post-category-icon {
  position: relative;
  i {
    font-size: 28px;
    position: absolute;
    right: 0;
  }
}

.post-title {
  padding-left: 8px;
  padding-right: 35px;
}

.post-header {
  border-radius: 2px 2px 0px 0px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  background: #E6E6E6;
  border-right: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  padding: 5px;
}

td {
  border-right: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  padding: 5px;
}

tr:nth-child(even) {
  background: #E6E6E6
}

tr:nth-child(odd) {
  background: #FFFFFF
}

.content-style-blue {
  .post-title {
    color: #ffffff;
  }
  .post-header {
    background: $blue-500;
  }
  .post-title a:hover {
    color: $blue-100;
  }
  .post-meta {
    color: $blue-100;
  }
  a.tag-list-link, a.tag-list-link:active, a.tag-list-link:visited {
    background: $blue-300;
  }
  a, a:visited {
    color: $blue-500;
  }
  a:hover, a:active {
    color: $blue-300;
  }
  .post-category-icon {
    color: $blue-100;
  }
}

.content-style-grey {
  .post-title {
    color: #ffffff;
  }
  .post-header {
    background: $blue-grey-500;
  }
  .post-title a:hover {
    color: $blue-grey-100;
  }
  .post-meta {
    color: $blue-grey-100;
  }
  a.tag-list-link, a.tag-list-link:active, a.tag-list-link:visited {
    background: $blue-grey-300;
  }
  a, a:visited {
    color: $blue-grey-500;
  }
  a:hover, a:active {
    color: $blue-grey-300;
  }
  .post-category-icon {
    color: $blue-grey-100;
  }
}

.content-style-purple {
  .post-title {
    color: #ffffff;
  }
  .post-header {
    background: $deep-purple-500;
  }
  .post-title a:hover {
    color: $deep-purple-100;
  }
  .post-meta {
    color: $deep-purple-100;
  }
  a.tag-list-link, a.tag-list-link:active, a.tag-list-link:visited {
    background: $deep-purple-300;
  }
  a, a:visited {
    color: $deep-purple-500;
  }
  a:hover, a:active {
    color: $deep-purple-300;
  }
  .post-category-icon {
    color: $deep-purple-100;
  }
}

.content-style-red {
  .post-title {
    color: #ffffff;
  }
  .post-header {
    background: $red-500;
  }
  .post-title a:hover {
    color: $red-100;
  }
  .post-meta {
    color: $red-100;
  }
  a.tag-list-link, a.tag-list-link:active, a.tag-list-link:visited {
    background: $red-300;
  }
  a, a:visited {
    color: $red-500;
  }
  a:hover, a:active {
    color: $red-300;
  }
  .post-category-icon {
    color: $red-100;
  }
}

.content-style-pink {
  .post-title {
    color: #ffffff;
  }
  .post-header {
    background: $pink-500;
  }
  .post-title a:hover {
    color: $pink-100;
  }
  .post-meta {
    color: $pink-100;
  }
  a.tag-list-link, a.tag-list-link:active, a.tag-list-link:visited {
    background: $pink-300;
  }
  a, a:visited {
    color: $pink-500;
  }
  a:hover, a:active {
    color: $pink-300;
  }
  .post-category-icon {
    color: $pink-100;
  }
}

.content-style-orange {
  .post-title {
    color: #ffffff;
  }
  .post-header {
    background: $orange-500;
  }
  .post-title a:hover {
    color: $orange-100;
  }
  .post-meta {
    color: $orange-100;
  }
  a.tag-list-link, a.tag-list-link:active, a.tag-list-link:visited {
    background: $orange-300;
  }
  a, a:visited {
    color: $orange-500;
  }
  a:hover, a:active {
    color: $orange-300;
  }
  .post-category-icon {
    color: $orange-100;
  }
}

.content-style-green {
  .post-title {
    color: #ffffff;
  }
  .post-header {
    background: $green-500;
  }
  .post-title a:hover {
    color: $green-100;
  }
  .post-meta {
    color: $green-100;
  }
  a.tag-list-link, a.tag-list-link:active, a.tag-list-link:visited {
    background: $green-300;
  }
  a, a:visited {
    color: $green-500;
  }
  a:hover, a:active {
    color: $green-300;
  }
  .post-category-icon {
    color: $green-100;
  }
}
