---
layout: default
---

{% if page.screenshots.size > 0 %}
<style>
.screenshot-container {
  display: table;
}
/* clearfix */
.screenshot-container:before,
.screenshot-container:after {
    content: "";
    display: table;
}
.screenshot-item {
  float: left;
  margin-bottom: 10px;
}
.screenshot-item img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}
</style>
{% endif %}

<article class="post content-wrapper content-style-green" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h2>
    <div class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
        {% if page.tags.size > 0 %}
        <ul class="tag-list">
          {% for tag in page.tags %}
          <li class="inline archive-list"><a class="tag-list-link" href="/tag/{{ tag }}">{{ tag }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
    </div>
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ content }}

    {% if page.screenshots.size > 0 %}
      <div class="screenshot-container">
        {% for img in page.screenshots %}
          <div class="screenshot-item">
            <img src="/assets{{ img }}" width="140"/>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if page.authors.size > 0 %}
      <h3>Team</h3>
      <ul>
        {% for member in page.authors %}
          {% assign author = site.data.authors[member] %}
          {% if author.name %}
            <li>
              {% if author.web %} <a href="{{ author.web }}"> {% endif %}
              {{ author.name }}
              {% if author.web %} </a> {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
    {% if page.links.size > 0 %}
      <h3>Links</h3>
      <ul>
        {% for link_hash in page.links %}
          {% for link in link_hash %}
            <li><a href="{{ link[1] }}">{{ link[0] }}</a></li>
          {% endfor %}
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</article>

{% if page.screenshots.size > 0 %}
<script src="/js/row-grid.min.js"></script>
<script>
var container = document.getElementsByClassName('screenshot-container')[0];
rowGrid(container, {itemSelector: ".screenshot-item", minMargin: 10, maxMargin: 25, firstItemClass: "first-item", lastRowClass: 'last-row', resize: true});
</script>
{% endif %}
