---
layout: default
---

{% if page.screenshots.size > 0 %}
<style>
.screenshot-container {
  display: table;
}
/* clearfix */
.screenshot-container:before,
.screenshot-container:after {
    content: "";
    display: table;
}
.screenshot-item {
  float: left;
  margin-bottom: 10px;
}
.screenshot-item img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}
</style>
{% endif %}

<article class="prose lg:prose-lg prose-img:rounded-xl max-w-5xl" itemscope itemtype="http://schema.org/BlogPosting">
  <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  <header class="post-header">
    
    <div class="post-meta shadow-md">
    {% assign editedDate = page.last_modified_at | date: '%s' %}
    {% assign datePublished = page.date | date: '%s' %}
    {% if editedDate and editedDate != datePublished %}
    <div class="post-meta-text">
      <div class="post-meta-icon">
          <i class="far fa-calendar-check"></i>
        </div>
        Edited on
        <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">
          {{ page.last_modified_at | date: "%b %d, %Y" }}
        </time>
      </div>
    {% else %}
      <div class="post-meta-text">
        <div class="post-meta-icon">
          <i class="far fa-calendar"></i>
        </div>
        Posted on
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: "%b %d, %Y" }}
        </time>
      </div>
    {% endif %}
    </div>

    {% if page.tags.size > 0 %}
    <ul class="tag-list">
      {% for tag in page.tags %}
      <li class="inline"><a class="tag-list-link shadow-md" href="/tag/{{ tag }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </header>

  <div class="p-4" itemprop="articleBody">
    {{ content }}

    {% if page.screenshots.size > 0 %}
      <div class="screenshot-container">
        {% for img in page.screenshots %}
          <div class="screenshot-item">
            <img src="/assets{{ img }}" width="140"/>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if page.authors.size > 0 %}
      <h3>Team</h3>
      <ul>
        {% for member in page.authors %}
          {% assign author = site.data.authors[member] %}
          {% if author.name %}
            <li>
              {% if author.web %} <a href="{{ author.web }}"> {% endif %}
              {{ author.name }}
              {% if author.web %} </a> {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
    {% if page.links.size > 0 %}
      <h3>Links</h3>
      <ul>
        {% for link_hash in page.links %}
          {% for link in link_hash %}
            <li><a href="{{ link[1] }}">{{ link[0] }}</a></li>
          {% endfor %}
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  {% if page.screenshots.size > 0 %}
  <script src="/js/row-grid.min.js"></script>
  <script>
  var container = document.getElementsByClassName('screenshot-container')[0];
  rowGrid(container, {itemSelector: ".screenshot-item", minMargin: 10, maxMargin: 25, firstItemClass: "first-item", lastRowClass: 'last-row', resize: true});
  </script>
  {% endif %}

  <div id="disqus_thread"></div>
  <script>
  var disqus_config = function () {
    this.page.url = "{{ site.url }}{{ page.url }}";
    this.page.identifier = '{{ page.id }}';
  };
  (function() {
  var d = document, s = d.createElement('script');
  s.src = 'https://jspaetzel.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view comments</noscript>
  <script id="dsq-count-scr" src="//jspaetzel.disqus.com/count.js" async></script>
</article>

